<h2> <%= @seed.seed_name %> </h2>

<p>Species: <%= @seed.seed_name %></p>
<p>Seed Category: <%= @seed.seed_category %></p>
<p>Variety: <%= @seed.seed_variety %></p>
<p>Brand: <%= @seed.seed_brand %></p>
<p>Quantity: <%= @seed.seed_quantity %></p>
<p>Notes: <%= @seed.seed_notes %></p>

<form method="post" action="/seeds/<%=@seed.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <br>
  <input type="submit" value="Delete These Seeds">
</form>

<div class="container">
<a href="/seeds/<%=@seed.id%>/edit" class="button">Edit Seeds</a><br>
<br>
<a href="/seeds/new" class="button"> Add Seeds </a> <br>
<br>
<a href="/seeds" class="button"> View Seeds </a>
</div>
